{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="nav ">
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}", height="30", alt="logo">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'goods' %}">Goods</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'store' %}">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>

        <form action="", class="form-inline ml-auto">
            <input type="text" class="form-control mr-sm-2" placeholder="请输入订单号">
            <button class="btn btn-outline-secondary my-2",type="submit">search</button>
        </form>
    </nav>

    <div class="container" id="goodsInfo">
        <div class="row">
            <div class="cardspad col-lg-12">
                <div class="goodsInfoCards row">
                    {% for store in stores %}
                    <div class="goodsCard">
                        <div class="goodsCardItem">
                            <a href="{{store.url}}">
                                <img class="imgSize", src="{{store.img.url}}", alt="">
                            </a>
                            <div class="cardname">{{store.name}}</div>
                            <div class="cardprice">{{store.info}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>

</body>
</html>